*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100vh;
  background: url(https://www.fcbarcelona.com/fcbarcelona/photo/2018/11/14/556cbe5c-ad94-43c6-ac7b-3dcba97230c3/foto_aficio.jpg) no-repeat center;
  background-size: cover;
  font-family: sans-serif;

  &::before, &::after {
    position: absolute;
    content: "";
    z-index: 0;
    top: 0;
    width: 50%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &::before {
    left: 0;
    background-image: url(https://www.fcbarcelona.fr/resources/v2.36.0-4331/i/bg-elements/stripes-left.png);
  }

  &::after {
    right: 0;
    background-image: url(https://www.fcbarcelona.fr/resources/v2.36.0-4331/i/bg-elements/stripes-right.png);
  }
}

.wrapper {
  z-index: 10;
  position: relative;
}

.title {
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
}

h1 {
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 20px;
  font-weight: 400;
  color: #181733;
}

.menu-strip {
  background: linear-gradient(0deg,#181733 50%,rgba(24,23,51,.45) 95%,rgba(24,23,51,0));
  position: fixed;
  width: 10%;
  height: 100vh;
  border-right: 2px solid #fff;
  z-index: 1;
}

.toggle-btn {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;

  i {
    font-size: 30px;
    color: #fff;
  }
}

.nav .menu {
  position: absolute;
  width: 45%;
  height: 100vh;
  left: -100rem;
  background: linear-gradient(90deg,#cd122d 0,#154284);
}

.images {
  position: absolute;
  width: 0%;
  height: 100vh;
  left: 55%;
  background: url(https://www.fcbarcelona.com/photo-resources/2021/08/17/64509169-5858-4b44-9963-d1911fb0357d/mini_1200x750-dembele.png?width=470&height=470) no-repeat 50% 50%;
  background-size: cover;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.bg {
  position: absolute;
  width: 100%;
  height: 100vh;
  //background-color: #000;
}

.nav .menu ul {
  list-style: none;
  position: absolute;
  top: 36%;
  left: 36%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

#order {
    font-size: 16px;
    font-weight: lighter;
    color: rgba(255, 255, 255, 0.65);
}

.nav .menu ul li {
  color: #fff;
  font-weight: lighter;
  font-size: 30px;
  line-height: 60px;
}

#tag {
  font-size: 18px;
  font-weight: lighter;
  color: rgba(255, 255, 255, 0.65);
  transition: .3s;
}

.nav {
  height: 100vh;
position: relative;
}

.media {
  position: absolute;
  top: 80%;
  left: 20%;
  transform: translate(-50%, -50%);

  ul {
    display: flex;
    flex-direction: column;
  }
}

.media ul li{
  list-style: none;
  color: rgba(255, 255, 255, 0.65);
  margin-right: 10px;
  font-size: 18px;
}

.nav .menu ul li:hover #tag {
  color: #fff;
  transform: 2s;
}

#menu {
  background: linear-gradient(#fff, #fff) left no-repeat, rgba(255, 255, 255, 0.65);
  background-size: 0% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 1s;
}


#menu:hover {
  background-size: 100% 100%;
}
/*
.bg1 {
  display: block;
  background: url(https://www.fcbarcelona.com/photo-resources/2021/08/17/64509169-5858-4b44-9963-d1911fb0357d/mini_1200x750-dembele.png?width=470&height=470) no-repeat 50% 50%;
  background-size: cover;
}

.bg2 {
  display: block;
  background: url(https://www.fcbarcelona.com/photo-resources/2021/11/09/819564f4-1e18-490a-9096-162dce5a0718/mini_1200x750-coutinho.png?width=470&height=470) no-repeat 50% 50%;
  background-size: cover;
}

.bg3 {
  display: block;
  background: url(https://www.fcbarcelona.com/photo-resources/2021/08/17/0b5fa79f-3bd1-47b7-a204-d9f74d2f8bc6/mini_1200x750-DE_JONG.png?width=470&height=470) no-repeat 50% 50%;
  background-size: cover;
}

.bg4 {
  display: block;
  background: url(https://www.fcbarcelona.com/photo-resources/2021/11/09/e00e0d35-ca10-412d-a505-ebec04a12d82/mini_1200x750-ter_stegen.png?width=470&height=470) no-repeat 50% 50%;
  background-size: cover;
}

.hide {
  display: none;
}*/

@media screen and (max-width: 768px) {
  
  .images {
    display: none;
  }

  .nav .menu {
    width: 0%;
    left: 20%;
  }

  .menu ul {
    margin-top: 80px;
    margin-left: -20px;
  }

  .menu-strip {
    width: 20%;
  }

  .toggle-btn {
    position: absolute;
    transform: translate(-50%, -90%);
  }

  .menu li #menu {
    font-size: 18px;
  }

  #tag {
    display: none;
  }

  #order {
    display: none;
  }

  .media {
    display: none;
  }
}